{% extends 'base.html.twig' %}

{% block title %}
    Email de réinitialisation envoyé
{% endblock %}

{% block body %}
    <h1>Email de réinitialisation envoyé</h1>
    <p>Un email de réinitialisation de mot de passe a été envoyé à l'adresse que vous avez fournie. Veuillez vérifier votre boîte de réception et suivre les instructions.</p>
{% endblock %}
