<form method="post" action="{{ path('teacher_delete', {'id': teacher.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet Enseignant ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ teacher.id) }}">
    <button class="btn">Supprimer</button>
</form>
