{% extends 'base.html.twig' %}

{% block title %}KoreanIsta{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/HB/Documents/Cours/symfony/Symfony-examen/src/Controller/IndexController.php</code></li>
        <li>Your template at <code>C:/Users/HB/Documents/Cours/symfony/Symfony-examen/templates/index/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
