{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}
    <h1>Dashboard Administrateur</h1>

    <h2>Gestion des entités</h2>
    <ul>
        <li><a href="#">Gérer les catégories</a></li>
        <li><a href="#">Gérer les leçons</a></li>
        <li><a href="#">Gérer les sous-catégories</a></li>
        <li><a href="#">Gérer les enseignants</a></li>
        <li><a href="#">Gérer les utilisateurs</a></li>
    </ul>
{% endblock %}
