{% extends 'base.html.twig' %}

{% block title %}
  Cours
{% endblock %}

{% block body %}
  <h1 class="text-5xl text-center font-bold mb-8">{{ subcategory.name }}</h1>

  {% for lesson in subcategory.lessons %}
    {% include 'lesson/card.html.twig' with {'lesson': lesson} %}
  {% else %}
    <p>Aucun leçon n'a été trouvé pour cette sous-catégorie</p>
  {% endfor %}
{% endblock %}
