{% extends 'base.html.twig' %}

{% block title %}
  Cours
{% endblock %}

{% block body %}
  <h1 class="text-5xl text-center font-bold mb-8">{{ subcategory.name }}</h1>

  {% for lesson in subcategory.lessons %}
    {% include 'lesson/card.html.twig' with {'lesson': lesson} %}
  {% else %}
    <p>Aucun leçon n'a été trouvé pour cette sous-catégorie</p>
  {% endfor %}
    <div class="mt-12 text-center">
      <a href="{{ path('home_page') }}" class="px-6 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition duration-300">Revenir à l'accueil</a>
    </div>
{% endblock %}
