{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sous-Catégorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Sous-Catégorie</h1>

    {{ include('sub_category/_form.html.twig') }}

    <a href="{{ path('home_page') }}">Revenir à l'accueil</a>
{% endblock %}
