{% extends 'base.html.twig' %}

{% block title %}Modifier une Leçon{% endblock %}

{% block body %}
    <h1>Modifier une Leçon</h1>

    {{ include('lesson/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('lesson_index') }}">Revenir à la liste des Leçons</a>

    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
