{% extends 'base.html.twig' %}

{% block title %}
  Nos Leçons
{% endblock %}

{% block body %}
  <h1 class="text-5xl text-center font-bold">Leçons</h1>

  <div>
    <div class="py-12">
      <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
        <div class="lg:mx-auto">
          {% for lesson in lessons %}
            {% include 'lesson/card.html.twig' with {'lesson': lesson} %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="mt-12 text-center">
      <a href="{{ path('home_page') }}" class="px-6 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition duration-300">Revenir à l'accueil</a>
    </div>
{% endblock %}
